.bg-info{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px; 
}
.card-header{
    height: 60px;
}
.card-body{
    height: 630px;
    position: relative;
    min-height: 150px;
}

.input{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 40px;
    width: 100%;
}
.input input{
    width: 70%;
    height: 40px;
    float: left;
}
.input button{
    width: 30%;
    height: 40px;
}